/*src/Auth.css*/
.auth-card {
    width: 320px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    margin: 50px auto;
    font-family: 'Arial', sans-serif;
}

.logged-out{
    background-color: #fff;
    border: 2px solid #e0e0e0;

}

.logged-in {
    background: linear-gradient(135deg, #b2f0f8);
    border: 2px solid #00bcd4;
    transform: scale(1.02);
}

.status-icon{
    font-size: 3rem;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

p{
    margin-bottom: 30px;
    color: #666;
    font-size: 1rem;
}

.auth-btn {
    padding: 12px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.logged-out .auth-btn {
    background-color: #333;
    color: #fff;
}

.logged-out .auth-btn:hover {
    background-color: #000;
}

.logged-in .auth-btn {
    background-color: #00bcd4;
    color: #fff;
}

.logged-in .auth-btn:hover {
    background-color: #0097a7;
}

