.faq-container{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.accordion{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.accordion-item{
    background-color: rgb(160, 160, 160);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.accordion-header{
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e0d0d;
    transition:bacgkground-color 0.3s;
}

.accordion-header:hover{
    background-color: #08090a;
}

.accordion-header.active{
    background-color: #e3f2fd;
    color: #0d47a1;
}

.accordion-header h3{
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

.icon{
    font-size: 0.8rem;
    transition: transform 0.3s ease;
}

.accordion-header.active .icon{
    transform: rotate(180deg);
}

.accordion-body{
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #eee;
    color: #555;
    line-height: 1.6;
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}