.clock-container {
    background-color: #2d3436;
    color: #dfe6e9;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
    border: 4px solid #0984e3;
    width: 350px;
}

h2{
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    color: #74b9ff;
}

.clock-face{
    font-size: 3.5rem;
    font-weight: bold;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00ff88;
    text-shadow: 0 0 20px rgba(0, 255, 136, 0.7);
    margin: 20px 0;

}

.colon{
    margin: 0 5px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.seconds {
    color:#ff7675;
    text-shadow: 0 0 20px rgba(255, 118, 117, 0.7);
    font-size: 2.5rem;
    margin-left: 10px;
}

.date-display{
    font-size: 1rem;
    color: #b2bec3;
    text-transform: capitalize;
}

