.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s, color 0.5s; 
  font-family: 'Segoe UI', sans-serif;
  }

.light-mode {
  background-color: #ffffff;
  color: #333333;
}

.dark-mode {
  background-color: #2c3e50;
  color: #ecf0f1;
}

.content-box {
  border: 2px solid;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  max-width: 500px;
}

.dark-mode .content-box {
  border-color: #ecf0f1;
  background-color: #34495e;
}

.light-mode .content-box {
  border-color: #333;
  background-color: #f9f9f9;
}