.footer{
    background-color: #2d3436;
    color: #dfe6e9;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.socials span{
    margin-left: 15px;
    cursor: pointer;
    font-size: 0.9rem;
}

.socials span:hover{
    color: #00cec9;
}

