.color-card{
    width:350px;
    height:350px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    margin:0 auto;
}

.content-box{
    background-color: rgba(255,255,255,0.9);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', sans-serif;
    backdrop-filter: blur(5px);
}

h2{
    margin-bottom: 5px;
    color: #666;
}

.color-code{
    font-family: 'Courier New', monospace;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 25px;
    background: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.change-btn{
    background-color: #333;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: 0.2s;

}

.change-btn:hover{
    transform: scale(1.05);
    background-color: #000;
}
