.card-container {
    background-color: #fff;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Arial, sans-serif';
    text-align: center;
    margin: 20px auto;
}


.card-header {
    background:
    linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    height: 100px;
    position: relative;
    
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.card-body {
    padding: 60px 20px 20px 20px;
    color: #333;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h4 {
    margin: 5px 0 15px 0;
    color: #777;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.contact-btn {
    background-color: #764ba2;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s;
}

.contact-btn:hover {
    transform: scale(1.05);
    background-color: #667eea;
}