.search-card{
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2{
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5rem;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.search-input{
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.search-input:focus{
    border-color: #6c5ce7;
    outline: none;
}

.user-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    max-height: auto;
    overflow-y: auto;
    align-items: center;
    transition: background-color 0.3s;
    border-bottom: 1px solid #eee;
}


.user-item{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-item:hover{
    background-color: #f9f9f9;
}

.avatar-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
    overflow: hidden;
    display:flex;
    background-color: #6c5ce7;
    justify-content: center;
    align-items: center;
}

.user-info h3{
    display: inline;
    font-size: 1rem;
    color: #333;
    margin: 0;
}

.user-info p{
    display: inline;
    font-size: 0.8rem;
    color: #888;
    margin: 0;
}

.no-result{
    text-align: center;
    color: #999;
    font-style: italic;
    padding: 20px;
}
